@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  animation: frameColor 1860s linear infinite alternate;
  overflow: hidden;
}

#background {
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  position: fixed;
  z-index: 1;
}

#logo {
  max-width: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 2;
}

.notification {
  width: 10px;
  left: 20px;
  top: 20px;
  height: 10px;
  display: block;
  border-radius: 50%;
  position: fixed;
  z-index: 20;
  animation: notify 4.5s linear normal;
  animation-iteration-count: 1;
}
.notification.newArt {
  background-color: rebeccapurple;
}
.notification.cachedArt {
  background-color: lightgoldenrodyellow;
}
.notification.favoritedArt {
  background-color: lightpink;
}
.notification.randomArt {
  background-color: cornflowerblue;
}
.notification.videos {
  background-color: orange;
}

@keyframes notify {
  0% {
    transform: scale(0);
  }
  5% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  65% {
    transform: scale(1);
  }
  70% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
#container {
  z-index: 5;
  position: fixed;
  padding: 3vh 5vw;
  left: 0;
  top: 0px;
  width: 100vw;
  height: 53vh;
  background: white;
  transform: translateY(0vh);
  display: block;
  transition: all 2.5s;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.45);
}
#container #status {
  position: absolute;
  left: -60px;
  top: 5px;
  height: 60px;
  transform: scale(0.6);
  width: 380px;
}
#container.bottom {
  transform: translateY(50vh);
  transition: all 2.5s;
  height: 50vh;
}
#container.bottom #mat {
  height: 43vh;
}
#container.bottom .frame .art {
  height: 43vh;
}
#container.bottom .frame.video .container,
#container.bottom .frame.video video {
  height: 43vh;
}
#container.dark {
  background: #333;
}
#container #mat {
  z-index: 2;
  width: 90vw;
  height: 47vh;
  left: 5vw;
  top: 3vh;
  transition: all 2.5s;
  display: block;
  position: absolute;
  box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.45);
}
#container .frame {
  opacity: 0;
  display: block;
  position: absolute;
}
#container .frame.fade-in {
  opacity: 1;
  transition: all 2.5s;
}
#container .frame.fade-out {
  opacity: 0;
  transition: all 2.5s;
}
#container .frame .art {
  width: 90vw;
  height: 47vh;
  transition: all 2.5s;
  display: block;
  background-size: cover;
}
#container .frame.video .container {
  position: fixed;
  width: 90vw;
  height: 47vh;
  transition: all 2.5s;
  z-index: -1;
  overflow: hidden;
}
#container .frame.video video {
  left: -20%;
  transition: all 2.5s;
  height: 47vh;
}

.heart {
  content: "❤️";
  position: fixed;
  top: 100%;
  z-index: 10;
  right: 80%;
  font-size: 30px;
  animation: heartBeat 3.5s ease-in-out;
}

@keyframes heartBeat {
  0% {
    top: 100%;
    right: 80%;
    transform: scale(1);
  }
  30% {
    right: 75%;
    top: 94%;
    transform: scale(1.2);
  }
  50% {
    top: 88%;
    right: 80%;
    opacity: 1;
  }
  70% {
    top: 84%;
    right: 85%;
  }
  100% {
    opacity: 0.1;
    right: 80%;
    top: 50%;
    transform: scale(1);
  }
}
.tray {
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url(assets/desk2.jpg);
  background-size: cover;
  height: 50vh;
  z-index: 0;
}
.tray iframe {
  position: absolute;
  z-index: 2;
}
.tray .news {
  width: 900px;
  height: 975px;
  left: 445px;
  top: 7vh;
  transform: rotate(3deg);
  z-index: 1;
}
.tray .plex {
  width: 640px;
  height: 907px;
  left: 0;
  transform: rotate(-3deg);
  top: 2vh;
}
.tray.bottom {
  top: 50%;
  background-image: url(assets/desk1.jpg);
}
.tray.bottom .plex {
  left: 530px;
  transform: rotate(4deg);
  top: 3.5vh;
  height: 800px;
}
.tray.bottom .news {
  height: 900px;
  width: 570px;
  left: 70px;
  top: 5.5vh;
  transform: rotate(-2deg);
}

#offline {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  bottom: 20px;
}